.ConnectionIndicator{
    display: flex;
    justify-content: space-between;

    .green-square{
        width: 10px;
        height: 10px;
        background-color: green;
        align-self: center;
    }

    .red-square{
        width: 10px;
        height: 10px;
        background-color: red;
        align-self: center;
    }
}
