$left-right-margin: 10%;

.Simulation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: $left-right-margin;
    margin-right: $left-right-margin;
    
    canvas{
        background-color: white;
    }
}