$blue-text: rgba(0, 221, 255, 1);

body{
    background-color: black;
    color: $blue-text;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
}

p{
    margin-top: 50px;
}

input{
    width: 100px;
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    right: 10px;
}

button{
    outline: none;
    padding: 10px;
    color: $blue-text;
    background-color: black;
    border: 3px solid $blue-text;
    border-radius: 10px;
    transition: 0.5s;
}

button:hover {
    background-color:$blue-text;
    color:black;
    cursor: pointer;
  }

.title{
    text-align: center;
}

.main-content{
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}

.main-content-grid{
    display: grid;
    grid-template-columns: 70% auto;
    justify-items: center;
}

.input-group{
    padding: 10px;
    border: 1px solid $blue-text;
    margin-bottom: 10px;
    position: relative;
}

.second-column{
    display: flex;
    flex-direction: column;
}

#simulation-canvas{
    display: block;
    background-color: white;
}

input[type=range]{
    margin-top: 100px;
    width: 100%;
    position:inherit;
    color: $blue-text;
    background-color: $blue-text;
}



